<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><!-- @@title --> &ndash; <!-- @@name --></title>
    <link href="data:image/x-icon;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQEAYAAABPYyMiAAAABmJLR0T///////8JWPfcAAAACXBIWXMAAABIAAAASABGyWs+AAAAF0lEQVRIx2NgGAWjYBSMglEwCkbBSAcACBAAAeaR9cIAAAAASUVORK5CYII=" rel="icon" type="image/x-icon">
    <!-- build:less css/dev/bundle.css -->
        <link type="stylesheet/less" href="../../less/dev/app.less">
    <!-- endbuild -->
    <!-- build:js js/kick.js -->
        <script src="../../js/kick.js"></script>
        <script src="../../js/kick/_before"></script>
        <script src="../../js/kick/private.js"></script>
        <script src="../../js/kick/construct.js"></script>
        <script src="../../js/kick/window.js"></script>
        <script src="../../js/kick/_after"></script>
    <!-- endbuild -->
</head>
<body>

<div class="navbar-wrapper header">
    <div class="container">
        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="."><!-- @@name --></a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a href="#">Link</a>
                        </li>
                        <li>
                            <a href="#">Link</a>
                        </li>
                        <li>
                            <a href="#">Link</a>
                        </li>
                        <li>
                            <a href="#">Link</a>
                        </li>
                        <li>
                            <a href="#">Link</a>
                        </li>
                    </ul>
                    <form action="e-shop-detail.html" class="navbar-form navbar-right">
                        <div class="form-group">
                            <input type="search" name="q" class="form-control"
                                placeholder="What are you looking for?">
                        </div>
                    </form>
                </div>
            </div>
        </nav>
    </div>
</div>
